/* .about{
    width: 100%;
    height: 50vh;
    border: 1px solid green;
    display: flex;
}
.about-left{
    width: 30%;
    border: 1px solid red   ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-right{
    width: 70%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
} */