.intro {
    width: 80%;
    margin: auto;
    /* display: flex; */
}

.intro-img {
    /* border: 1px solid red; */
    float: right;
    margin: 24px 15px 26px 32px;
    width: 30vh;
    height: 38vh;
}